[Unit]
Description=PocketNC Service
After=generic-board-startup.service

[Service]
ExecStart=/opt/pocketnc/startPocketNC.sh
ExecStop=/opt/pocketnc/stopPocketNC.sh
User=pocketnc
KillMode=process

[Install]
WantedBy=multi-user.target
