[Unit]
Description=Web interface to Rockhopper (which provides interface to linuxcnc) via web sockets

[Service]
ExecStart=/home/pocketnc/pocketnc/startpocketnc-ui.sh

[Install]
WantedBy=multi-user.target
