[Unit]
Description=PocketNC Service

[Service]
ExecStart=/home/pocketnc/pocketnc/startPocketNC.sh
User=pocketnc

[Install]
WantedBy=multi-user.target
