[Unit]
Description=PocketNC Service
After=sshd.service

[Service]
ExecStart=/home/pocketnc/pocketnc/startPocketNC.sh
ExecStop=/home/pocketnc/pocketnc/stopPocketNC.sh
User=pocketnc

[Install]
WantedBy=multi-user.target
