[Unit]
Description=Web server providing interface to linuxcnc via web sockets
After=PocketNC.service

[Service]
ExecStart=/opt/pocketnc/startRockhopper.sh
ExecStop=/opt/pocketnc/stopRockhopper.sh
User=pocketnc
TimeoutStopSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
